.blog{
    padding: 40px 0 0;
    overflow: hidden;
    gap: 100px;
   
  
}
.blog .content-left{
        flex: 6;   
        display:flex;
        
        
    }
 .blog .content-left img{
        width: 40%;
        height: 350px;
        display: flex;
        flex-direction: column; 
        animation: portfolioAnim4 2s ;
        cursor: pointer;
    }
    .blog .content-left img:hover{
      transition: .2s;
      transform: scale(.98);
  }
    @keyframes portfolioAnim4 {
      from{transform: scale(0); }
      to{transform: scale(1);}
  }
.blog  span{
        
        text-align:center;
        font-size: 1.6rem;
        width: 20%;
        
    }
.blog .content-left p{
    
    text-align:justify;
    font-size: 1rem;
    padding: 10px 16px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px;
    

} 

.blog .container-right  a:hover{
  color: white;
}



.blog .content-left .container-right{
    flex: 3;
    right: 0px;
    width: 300px;
    
    
   }

.blog .content-left .container-right {  
    transition: 0.3s;
   
  }   
 

.blog .content-left .container-right p{
   text-align:justify;
   
}















@media only screen and (max-width: 800px) {
    .blog .content-left img {
      width: 100%;
    }
   
    
  }


  .blog .content-left {
    display:flex;
    flex-wrap:wrap; /* this */
    gap:10px;
   
  }

